<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-birthday-heading" data-cy="birthdayCreateUpdateHeading" jhiTranslate="jhipsterSampleApplicationApp.birthday.home.createOrEditLabel">
        Create or edit a Birthday
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!editForm.get('id')!.value">
          <label for="id" jhiTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" id="id" name="id" formControlName="id" data-cy="id" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.birthday.lname" for="field_lname">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lname"
            id="field_lname"
            data-cy="lname"
            formControlName="lname"
            [ngClass]="{ valid: !editForm.get('lname')!.invalid, invalid: editForm.get('lname')!.invalid }"
            />
          @if (editForm.get('lname')!.invalid && (editForm.get('lname')!.dirty || editForm.get('lname')!.touched)) {
            <div>
              @if (editForm.get('lname')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                  This field is required.
                </small>
              }
            </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.birthday.fname" for="field_fname">First Name</label>
          <input
            type="text"
            class="form-control"
            name="fname"
            id="field_fname"
            data-cy="fname"
            formControlName="fname"
            [ngClass]="{ valid: !editForm.get('fname')!.invalid, invalid: editForm.get('fname')!.invalid }"
            />
          @if (editForm.get('fname')!.invalid && (editForm.get('fname')!.dirty || editForm.get('fname')!.touched)) {
            <div>
              @if (editForm.get('fname')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                  This field is required.
                </small>
              }
            </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.birthday.sign" for="field_sign">Sign</label>
          <input
            type="text"
            class="form-control"
            name="sign"
            id="field_sign"
            data-cy="sign"
            formControlName="sign"
            [ngClass]="{ valid: !editForm.get('sign')!.invalid, invalid: editForm.get('sign')!.invalid }"
            />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.birthday.dob" for="field_dob">Date of Birth</label>
          <div class="d-flex">
            <input
              id="field_dob"
              data-cy="dob"
              type="datetime-local"
              class="form-control"
              name="dob"
              formControlName="dob"
              [ngClass]="{ valid: !editForm.get('dob')!.invalid, invalid: editForm.get('dob')!.invalid }"
              />
          </div>
          @if (editForm.get('dob')!.invalid && (editForm.get('dob')!.dirty || editForm.get('dob')!.touched)) {
            <div>
              @if (editForm.get('dob')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                  This field is required.
                </small>
              }
            </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.birthday.isAlive" for="field_isAlive">Is Alive</label>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="field_isAlive"
              name="isAlive"
              formControlName="isAlive"
              data-cy="isAlive"
              />
            <label class="custom-control-label" for="field_isAlive">Yes</label>
          </div>
          @if (editForm.get('isAlive')!.invalid && (editForm.get('isAlive')!.dirty || editForm.get('isAlive')!.touched)) {
            <div>
              @if (editForm.get('isAlive')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">
                  This field is required.
                </small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>