<div class="row">
  <div class="col-md-12">
    <h2 data-cy="viewDetailsHeading"><span>View</span></h2>

    <hr />

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between">
          <button type="button" [routerLink]="['/view', view.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>{{ view.id }}</dd>

          <dt><span>Name</span></dt>
          <dd>{{ view.name }}</dd>

          <dt><span>Field</span></dt>
          <dd>{{ view.field }}</dd>

          <dt><span>Aggregation</span></dt>
          <dd>{{ view.aggregation }}</dd>

          <dt><span>Query</span></dt>
          <dd>{{ view.query }}</dd>

          <dt><span>Category Query</span></dt>
          <dd>{{ view.categoryQuery }}</dd>

          <dt><span>Script</span></dt>
          <dd>{{ view.script }}</dd>

          <dt><span>Primary View</span></dt>
          <dd>
            <div *ngIf="view.primaryViewId">
              <a [routerLink]="['/view', view.primaryViewId, 'view']">{{ view.primaryViewId }}</a>
            </div>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>
      </div>
    </div>
  </div>
</div> 