<div>
  <h2 id="jhi-named-query-heading" data-cy="NamedQueryCreateUpdateHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.namedQuery.home.createOrEditLabel">Create or edit a Named Query</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-md-12">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
          <jhi-alert-error></jhi-alert-error>

          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input
              type="number"
              class="form-control"
              name="id"
              id="field_id"
              data-cy="id"
              formControlName="id"
              [readonly]="true"
              />
          </div>

          <div class="mb-3">
            <label class="form-label" for="field_name" jhiTranslate="jhipsterSampleApplicationApp.namedQuery.name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="field_name"
              data-cy="name"
              formControlName="name"
              />
            @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
              <div
                >
                @if (editForm.get('name')?.errors?.required) {
                  <small
                    class="form-text text-danger"
                    jhiTranslate="entity.validation.required"
                    >
                    This field is required.
                  </small>
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="field_text" jhiTranslate="jhipsterSampleApplicationApp.namedQuery.text">Text</label>
            <input
              type="text"
              class="form-control"
              name="text"
              id="field_text"
              data-cy="text"
              formControlName="text"
              />
            @if (editForm.get('text')!.invalid && (editForm.get('text')!.dirty || editForm.get('text')!.touched)) {
              <div
                >
                @if (editForm.get('text')?.errors?.required) {
                  <small
                    class="form-text text-danger"
                    jhiTranslate="entity.validation.required"
                    >
                    This field is required.
                  </small>
                }
              </div>
            }
          </div>

          @if (isAdmin) {
            <div class="mb-3">
              <label class="form-label" for="field_owner" jhiTranslate="jhipsterSampleApplicationApp.namedQuery.owner">Owner</label>
              <input
                type="text"
                class="form-control"
                name="owner"
                id="field_owner"
                data-cy="owner"
                formControlName="owner"
                />
              @if (editForm.get('owner')!.invalid && (editForm.get('owner')!.dirty || editForm.get('owner')!.touched)) {
                <div
                  >
                  @if (editForm.get('owner')?.errors?.required) {
                    <small
                      class="form-text text-danger"
                      jhiTranslate="entity.validation.required"
                      >
                      This field is required.
                    </small>
                  }
                </div>
              }
            </div>
          }
        </div>

        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
            >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>