<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="selector">
      <h2 data-cy="selectorDetailsHeading"><span>Selector</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ selector.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ selector.name }}</span>
        </dd>
        <dt><span>Ruleset Name</span></dt>
        <dd>
            <span>{{ selector.rulesetName }}</span>
        </dd>
        <dt><span>Action</span></dt>
        <dd>
            <span>{{ selector.action }}</span>
        </dd>
        <dt><span>Action Parameter</span></dt>
        <dd>
            <span>{{ selector.actionParameter }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{ selector.description }}</span>
        </dd>
</dl>

      <button
        type="submit"
        (click)="previousState()"
        class="btn btn-info"
        data-cy="entityDetailsBackButton"
      >
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/selector', selector.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
