<div class="row">
  <div class="col-md-12">
    <h2 data-cy="viewDetailsHeading"><span>Views</span></h2>

    <hr />

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between">
          <button type="button" [routerLink]="['/view/new']" class="btn btn-primary">
            <fa-icon icon="plus"></fa-icon>&nbsp;<span>Create new View</span>
          </button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped" aria-describedby="view-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
            <th jhiSortBy="field"><span>Field</span> <fa-icon icon="sort"></fa-icon></th>
            <th jhiSortBy="aggregation"><span>Aggregation</span> <fa-icon icon="sort"></fa-icon></th>
            <th jhiSortBy="query"><span>Query</span> <fa-icon icon="sort"></fa-icon></th>
            <th jhiSortBy="categoryQuery"><span>Category Query</span> <fa-icon icon="sort"></fa-icon></th>
            <th jhiSortBy="script"><span>Script</span> <fa-icon icon="sort"></fa-icon></th>
            <th jhiSortBy="primaryView.name"><span>Primary View</span> <fa-icon icon="sort"></fa-icon></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let view of views; trackBy: trackId">
            <td><a [routerLink]="['/view', view.id, 'view']">{{ view.id }}</a></td>
            <td>{{ view.name }}</td>
            <td>{{ view.field }}</td>
            <td>{{ view.aggregation }}</td>
            <td>{{ view.query }}</td>
            <td>{{ view.categoryQuery }}</td>
            <td>{{ view.script }}</td>
            <td>
              <div *ngIf="view.primaryView">
                <a [routerLink]="['/view', view.primaryView.id, 'view']">{{ view.primaryView.name }}</a>
              </div>
            </td>
            <td class="text-end">
              <div class="btn-group">
                <button type="button" [routerLink]="['/view', view.id, 'view']" class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline">View</span>
                </button>
                <button type="button" [routerLink]="['/view', view.id, 'edit']" class="btn btn-primary btn-sm">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Edit</span>
                </button>
                <button type="button" (click)="delete(view)" class="btn btn-danger btn-sm">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="views?.length === 0">
      <div class="alert alert-warning">
        <span>No views found</span>
      </div>
    </div>
  </div>
</div> 