<!-- super-table.component.html -->
<p-table #pTable
  [value]="value"
  [columns]="columns"
  dataKey="id"
  [resizableColumns]="resizableColumns"
  [reorderableColumns]="reorderableColumns"
  [scrollable]="scrollable"
  [paginator]="paginator"
  expandableRow
  [expandedRowKeys]="expandedRowKeys"
  (onRowExpand)="onRowExpand($event)"
  (onRowCollapse)="onRowCollapse($event)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.type === 'data' ? col.field : null"
          pResizableColumn
          [style.width]="col.width"
          [style]="col.style">
        <div class="p-d-flex p-jc-between p-ai-center">
          {{ col.header }}
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="'data'">
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <p-columnFilter *ngIf="col.filterType" 
                            [field]="col.field" 
                            [type]="col.filterType" 
                            display="menu">
              </p-columnFilter>
            </ng-container>
            <p-tableHeaderCheckbox *ngSwitchCase="'checkbox'"></p-tableHeaderCheckbox>
            <span *ngSwitchCase="'expander'"></span>
          </ng-container>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <ng-container [ngSwitch]="col.type">
          <p-tableCheckbox *ngSwitchCase="'checkbox'" [value]="rowData" dataKey="id"></p-tableCheckbox>
          <span *ngSwitchCase="'data'">{{ rowData[col.field] }}</span>
          <button *ngSwitchCase="'expander'"
                  pButton 
                  [icon]="isRowExpanded(rowData) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                  [pRowToggler]="rowData"
                  class="p-button-text p-button-rounded p-button-plain"
                  style="width: 2rem; height: 2rem; padding: 0;">
          </button>
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template #expandedrow let-rowData>
    <tr>
      <td colspan="6">
        <span style="color: red">EXPANDED ROW!</span><br />
        {{ rowData.fname }} {{ rowData.lname }}
      </td>
    </tr>
  </ng-template>
</p-table>
