<!-- super-table.component.html -->
<p-table
  *ngIf="displayMode === 'grid'"
  #pTable
  [value]="value"
  [columns]="columns"
  dataKey="id"
  [resizableColumns]="resizableColumns"
  columnResizeMode="fit"
  [reorderableColumns]="reorderableColumns"
  [scrollable]="scrollable"
  [paginator]="paginator"
  (onSort)="onSort.emit($event)"
  expandableRow
  [expandedRowKeys]="expandedRowKeys"
  (onRowExpand)="onRowExpand($event)"
  (onRowCollapse)="onRowCollapse($event)">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width]="col.width">
    </colgroup>
  </ng-template>  
  <ng-container *ngIf="showHeader">
    <ng-template pTemplate="header" let-columns>
      <tr class="header-row">
        <th *ngFor="let col of columns"
            [pSortableColumn]="col.type === 'string' || col.type === 'date' || col.type === 'boolean' || col.type === 'list' ? col.field : null"
            pResizableColumn
            [style.width]="col.width"
            [style]="col.style">
          <div class="p-d-flex p-jc-between p-ai-center">
            {{ col.header }}
            <ng-container [ngSwitch]="col.type">
              <ng-container *ngSwitchCase="'string'">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter *ngIf="col.filterType" 
                              [field]="col.field" 
                              [type]="col.filterType" 
                              display="menu">
                </p-columnFilter>
              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter *ngIf="col.filterType" 
                              [field]="col.field" 
                              [type]="col.filterType" 
                              display="menu">
                </p-columnFilter>
              </ng-container>
              <ng-container *ngSwitchCase="'boolean'">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter *ngIf="col.filterType" 
                              [field]="col.field" 
                              [type]="col.filterType" 
                              display="menu">
                </p-columnFilter>
              </ng-container>
              <ng-container *ngSwitchCase="'list'">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter [field]="col.field" 
                              matchMode="in" 
                              display="menu" 
                              [showMatchModes]="false" 
                              [showOperator]="false" 
                              [showAddButton]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiselect [options]="col.listOptions"
                                placeholder="Any" 
                                (onChange)="filterList($event, col.field)" 
                                optionLabel="label"
                                [style]="{ 'min-width': '14rem' }" 
                                [panelStyle]="{ 'min-width': '16rem' }"
                                [showToggleAll]="true"
                                [showClear]="true">
                    </p-multiselect>
                  </ng-template>
                </p-columnFilter>
              </ng-container>
              <p-tableHeaderCheckbox *ngSwitchCase="'checkbox'"></p-tableHeaderCheckbox>
              <span *ngSwitchCase="'expander'"></span>
              <span *ngSwitchCase="'lineNumber'"></span>
            </ng-container>
          </div>
        </th>
      </tr>
      <tr *ngIf="loadingMessage">
        <td [attr.colspan]="columns.length">{{loadingMessage}}</td>
      </tr> 
    </ng-template>
  </ng-container>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr>
      <td *ngFor="let col of columns">
        <ng-container [ngSwitch]="col.type">
          <p-tableCheckbox *ngSwitchCase="'checkbox'" [value]="rowData" dataKey="id"></p-tableCheckbox>
          <span *ngSwitchCase="'string'">{{ rowData[col.field] }}</span>
          <span *ngSwitchCase="'date'">{{ rowData[col.field] | date: (col.dateFormat || 'MM/dd/yyyy') }}</span>
          <span *ngSwitchCase="'boolean'">{{ rowData[col.field] ? 'Yes' : 'No' }}</span>
          <span *ngSwitchCase="'list'">{{ rowData[col.field] }}</span>
          <span *ngSwitchCase="'lineNumber'">{{ rowIndex + 1 }}</span>
          <button *ngSwitchCase="'expander'"
                  pButton 
                  [icon]="isRowExpanded(rowData) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                  [pRowToggler]="rowData"
                  class="p-button-text p-button-rounded p-button-plain"
                  style="width: 2rem; height: 2rem; padding: 0;">
          </button>
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template #expandedrow let-rowData>
    <ng-container *ngTemplateOutlet="expandedRowTemplate || defaultExpandedRow; context: { $implicit: rowData }"></ng-container>
  </ng-template>
  <ng-template #defaultExpandedRow let-rowData>
    <tr>
      <td [attr.colspan]="columns.length">
        <div class="p-p-3">
          <p>No expanded row template provided</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<div *ngIf="displayMode === 'group'">
  <p-table [columns]="columns" [value]="[]" *ngIf="showHeader" styleClass="p-datatable-gridlines" (onSort)="onSort.emit($event)">
    <ng-template pTemplate="header" let-columns>
      <tr class="header-row">
        <th *ngFor="let col of columns"
            [pSortableColumn]="col.type === 'string' || col.type === 'date' || col.type === 'boolean' || col.type === 'list' ? col.field : undefined"
            pResizableColumn
            [style.width]="col.width"
            [style]="col.style">
          <div class="p-d-flex p-jc-between p-ai-center">
            {{ col.header }}
            <ng-container [ngSwitch]="col.type">
              <ng-container *ngSwitchCase="'string'">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter *ngIf="col.filterType"
                              [field]="col.field"
                              [type]="col.filterType"
                              display="menu">
                </p-columnFilter>
              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter *ngIf="col.filterType"
                              [field]="col.field"
                              [type]="col.filterType"
                              display="menu">
                </p-columnFilter>
              </ng-container>
              <ng-container *ngSwitchCase="'boolean'">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter *ngIf="col.filterType"
                              [field]="col.field"
                              [type]="col.filterType"
                              display="menu">
                </p-columnFilter>
              </ng-container>
              <ng-container *ngSwitchCase="'list'">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter [field]="col.field"
                              matchMode="in"
                              display="menu"
                              [showMatchModes]="false"
                              [showOperator]="false"
                              [showAddButton]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiselect [options]="col.listOptions"
                                placeholder="Any"
                                (onChange)="filterList($event, col.field)"
                                optionLabel="label"
                                [style]="{ 'min-width': '14rem' }"
                                [panelStyle]="{ 'min-width': '16rem' }"
                                [showToggleAll]="true"
                                [showClear]="true">
                    </p-multiselect>
                  </ng-template>
                </p-columnFilter>
              </ng-container>
              <p-tableHeaderCheckbox *ngSwitchCase="'checkbox'"></p-tableHeaderCheckbox>
              <span *ngSwitchCase="'expander'"></span>
              <span *ngSwitchCase="'lineNumber'"></span>
            </ng-container>
          </div>
        </th>
      </tr>
    </ng-template>
  </p-table>
  <p-table [value]="value" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="body" let-rowData>
      <tr class="p-row-odd">
        <td style="width: 3rem; text-align: center;">
          <button type="button" pButton class="p-button-text p-button-rounded p-button-plain"
                  (click)="onGroupToggle(rowData)">
            <span [class]="isGroupExpanded(rowData) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></span>
          </button>
        </td>
        <td>{{ rowData }}</td>
      </tr>
      <tr *ngIf="isGroupExpanded(rowData)">
        <td [attr.colspan]="2">
            <ng-container *ngTemplateOutlet="expandedRowTemplate ?? null; context: { $implicit: rowData }"></ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
