@if (birthday) {
  <div>
    <h2 id="jhi-birthday-heading" data-cy="birthdayDetailsHeading">
      <span jhiTranslate="jhipsterSampleApplicationApp.birthday.detail.title">Birthday</span>
    </h2>
    <dl class="row-md jh-entity-details">
      <dt><span jhiTranslate="global.field.id">ID</span></dt>
      <dd>
        <span>{{ birthday.id }}</span>
      </dd>
      <dt>
        <span jhiTranslate="jhipsterSampleApplicationApp.birthday.lname">Last Name</span>
      </dt>
      <dd>
        <span>{{ birthday.lname }}</span>
      </dd>
      <dt>
        <span jhiTranslate="jhipsterSampleApplicationApp.birthday.fname">First Name</span>
      </dt>
      <dd>
        <span>{{ birthday.fname }}</span>
      </dd>
      <dt>
        <span jhiTranslate="jhipsterSampleApplicationApp.birthday.sign">Sign</span>
      </dt>
      <dd>
        <span>{{ birthday.sign }}</span>
      </dd>
      <dt>
        <span jhiTranslate="jhipsterSampleApplicationApp.birthday.dob">Date of Birth</span>
      </dt>
      <dd>
        <span>{{ birthday.dob | date: 'mediumDate' }}</span>
      </dd>
      <dt>
        <span jhiTranslate="jhipsterSampleApplicationApp.birthday.isAlive">Is Alive</span>
      </dt>
      <dd>
        <span>{{ birthday.isAlive ? 'Yes' : 'No' }}</span>
      </dd>
    </dl>
    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>
    <button type="button" [routerLink]="['/birthday', birthday.id, 'edit']" class="btn btn-primary">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
  </div>
}
