<div style="height: calc(100vh - 174px);overflow: auto;">
  <style>
    ::ng-deep .p-datatable .p-datatable-tbody > tr {
      min-height: 22px !important;
      line-height: 22px !important;
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
      padding: 0 !important;
      min-height: 22px !important;
      line-height: 22px !important;
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td > * {
      line-height: 22px !important;
      min-height: 22px !important;
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td:first-child {
      padding: 0 !important;
      margin: 0 !important;
      min-height: 22px !important;
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td:first-child > div {
      min-height: 22px !important;
      line-height: 22px !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr.p-datatable-row-expanded {
      height: auto !important;
      min-height: 22px !important;
      max-height: none !important;
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr.p-datatable-row-expanded > td {
      height: auto !important;
      min-height: 22px !important;
      max-height: none !important;
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr.p-datatable-row-expanded > td > * {
      height: auto !important;
      min-height: 22px !important;
      max-height: none !important;
    }
    ::ng-deep .p-checkbox {
      width: 16px !important;
      height: 16px !important;
      margin: 0 !important;
      padding: 0 !important;
      min-height: 16px !important;
      max-height: 16px !important;
      position: relative !important;
      top: -3px !important;
    }
    ::ng-deep .p-checkbox .p-checkbox-box {
      width: 16px !important;
      height: 16px !important;
      margin: 0 !important;
      padding: 0 !important;
      min-height: 16px !important;
      max-height: 16px !important;
    }
    ::ng-deep .p-checkbox .p-checkbox-icon {
      font-size: 12px !important;
      margin: 0 !important;
      padding: 0 !important;
      line-height: 12px !important;
      height: 12px !important;
    }
    ::ng-deep .p-checkbox .p-checkbox-input {
      height: 9.6px !important;
      border-top-width: 0 !important;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr {
      height: 32px !important;
      line-height: 32px !important;
      min-height: 32px !important;
      max-height: 32px !important;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr > th {
      padding: 0 !important;
      height: 32px !important;
      line-height: 32px !important;
      min-height: 32px !important;
      max-height: 32px !important;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr > th > * {
      line-height: 32px !important;
      height: 32px !important;
      min-height: 32px !important;
      max-height: 32px !important;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child {
      padding: 0 !important;
      margin: 0 !important;
      height: 32px !important;
      min-height: 32px !important;
      max-height: 32px !important;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child > div {
      height: 32px !important;
      min-height: 32px !important;
      max-height: 32px !important;
      line-height: 32px !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child .p-checkbox {
      width: 16px !important;
      height: 16px !important;
      margin: 0 !important;
      padding: 0 !important;
      min-height: 16px !important;
      max-height: 16px !important;
      position: relative !important;
      top: -3px !important;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child .p-checkbox .p-checkbox-box {
      width: 16px !important;
      height: 16px !important;
      margin: 0 !important;
      padding: 0 !important;
      min-height: 16px !important;
      max-height: 16px !important;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child .p-checkbox .p-checkbox-icon {
      font-size: 12px !important;
      margin: 0 !important;
      padding: 0 !important;
      line-height: 12px !important;
      height: 12px !important;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child .p-checkbox .p-checkbox-input {
      height: 9.6px !important;
      border-top-width: 0 !important;
    }
  </style>
  <h2 id="page-heading" data-cy="BirthdayHeading">
    <span>Birthdays</span><span style="font-size: 16px;font-weight: 700;">... </span><span (click)="showSearchDialog()"><span class="pi pi-search" style="cursor:pointer;"></span></span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  
  <ng-container *ngIf="rowData | async as birthday">
    <p-contextMenu #contextMenu [model]="menuItems" (mouseleave)="onContextMenuMouseLeave()" appendTo="body"></p-contextMenu>
    <p-confirmPopup></p-confirmPopup>
    <p-messages></p-messages>
    <super-table #birthdays [value]="birthday" [columns]="columns"
      [resizableColumns]="true" 
      [globalFilterFields]="['lname', 'fname', 'sign']" 
      dataKey="id" 
      [(contextSelectedRow)]="contextSelectedRow" 
      [contextMenu]="contextMenu"
      selectionMode="multiple" 
      [(selection)]="checkboxSelectedRows"
      (selectionChange)="onCheckboxChange()" 
      (onContextMenuSelect)="setMenu(contextSelectedRow)"
      [superTableParent] = "superTableParent"
      styleClass="small-rows">
      
      <ng-template #expandedRow let-rowData>
        <tr>
          <td [attr.colspan]="columns.length">
            <div class="p-p-3">
              <h5>Details for {{ rowData.lname }}, {{ rowData.fname }}</h5>
              <div class="p-grid">
                <div class="p-col-12 p-md-6">
                  <div class="p-field">
                    <label>Name:</label>
                    <span>{{ rowData.lname }}, {{ rowData.fname }}</span>
                  </div>
                </div>
                <div class="p-col-12 p-md-6">
                  <div class="p-field">
                    <label>Date of Birth:</label>
                    <span>{{ rowData.dob | date }}</span>
                  </div>
                </div>
                <div class="p-col-12 p-md-6">
                  <div class="p-field">
                    <label>Sign:</label>
                    <span>{{ rowData.sign }}</span>
                  </div>
                </div>
                <div class="p-col-12 p-md-6">
                  <div class="p-field">
                    <label>Status:</label>
                    <span>{{ rowData.isAlive ? 'Alive' : 'Deceased' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </super-table>
  </ng-container>
  <p-scrollTop
    target="superTableParent"
    icon="pi pi-arrow-up"
  ></p-scrollTop>
</div> 